body {
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4em;
}
#top-banner {
	width: 100%;
	background: #1c160d;
	color: #add978;
	font-size:90%;
}
#middle-banner {
	height: 60px;
}
#branding-name {
	line-height: 60px;
	font-size: 150%;
}
a {
	color: #fff;
	text-decoration:none;
}
a:link, a:visited {
	color: #add978;
}
a:hover {
	color: #C29100;
}
#page-footer {
	overflow:hidden;
	height:60px;
	text-align:center;
}


/* DJPCMS CLASSES
----------------------------------------------------------*/
.edit-contentblock .hd {
	border: 2px solid #D95A00;
	border-top: none;
}
.edit-contentblock .actions {
	background: #D6E0FF;
}

/* boxes
----------------------------------------------- */
.djpcms-html-box {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.djpcms-html-box .bd {
	-moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
}
.djpcms-html-box {
    background: #701C00;
}
.djpcms-html-box .hd h2 {
    color: #fff;
}
.djpcms-html-box .bd {
	background: #421100;
}

/* uniForm Inputs
----------------------------------------------*/
.uniForm .textInput, .uniForm select, .uniForm textarea {
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #D6E0FF;
}