{% load djpmodutils %}
{% if form %}<div class="search-form">
{{ form }}
</div>{% endif %}{% if paginator.total %}{% ifnotequal paginator.pages 1 %}
<div id="{% if id %}{{ id }}{% else %}Pagination{% endif %}" class="jquery-pagination"></div>
<script>
$(document).ready(function(){
    // Create pagination element with options from form
    var optInit = {
    		items_per_page: {{ paginator.per_page }},
    		current_page: {{ paginator.page }} - 1,
    		num_edge_entries: {{ paginator.numends }}, 
    		callback: function(current_page, elem) {
    			  var cp  = current_page + 1;
    			  var data = "{{ paginator.datadict }}";
    			  var url = "{{ url }}?page=" + cp;
    			  if(data) {
        			  url += '&' + data;
    			  }
    			  window.location = url;
    		}
    };
    $("#{% if id %}{{ id }}{% else %}Pagination{% endif %}").pagination({{ paginator.total }}, optInit);
});
</script>{% endifnotequal %}{% else %}
<div class="information">No entries</div>{% endif %}
{% if headers %}{% load tablesorter %}
{% totable headers items djp appmodel %}
{% else %}{% for item in items %}
{{ item }}{% endfor %}{% endif %}