



<tr>{% block formlet-title %}
    <td align="left" colspan="2">
      <div class="formlet-title">
		<b class="formlet-title-text">{{ html.title }}</b>{% if html.editinline %} - 
		<a class="{{ html.keys.edit_inline }}" href=".">{{ html.edittext }}</a>{% endif %}
	  </div>
	</td>{% endblock %}
  </tr>
 </tbody>
</table>{% endif %}{% if html.editinline %}
<table class="{{ html.keys.edit_inline_target }}">{% else %}
<table>{% endif %}
 <tbody>{% block top_formlet_entry %}{% endblock %}{% block inner-display %}{% endblock %}
 </tbody>
</table>{% endblock %}