#page-header {
	/*background: transparent url(img/header2.gif) repeat-x scroll 0 0;
    height:328px;*/
}
#top-header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	top: 0;
}
#site-logo img {
	height: 40px;
}
.nav-container {
	width: 100%;
	overflow: hidden;
}
ul.user {
	line-height: 2.5em;
}
.nav.main {
	float: left;
}
.site-logo {
    padding: 0 30px;
}
#brandline {
    padding: 30px 10px;   
}
#bread-crumbs {
	min-height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
#tagline {
	background:transparent url(img/bg.gif) repeat-x;
	height:82px;
}
#page-body {
	min-height: 700px;
}
#navigation li a:hover {
    background:transparent url(img/hover.gif) repeat-x;
    text-decoration:none;
}
#page-footer {
	min-height: 300px;
	padding: 30px 0;
}
a, a.link {
	text-decoration: none;
}
h1 {
	margin-bottom:0.6em;
}
h2 {
	margin-bottom:0.6em;
}
#main-body {
	min-height: 600px;
	margin-top: 20px;
	margin-bottom: 40px;
	overflow: hidden;
}
#documentation h2, #documentation h3, #documentation h4 {
	margin-top:1.4em;
}
#tag-line {
	padding: 0 20px;
}
p {
	line-height: 1.2em;
	margin-bottom: 0.6em;
}
.section {
	margin-top: 20px;
}
h2.deck {
	margin-top: 0;
	margin-bottom:0.6em;
}
.user-box {
	float: right;
	height: 60px;
	line-height: 60px;
}
li.toctree-l2 {
	margin-left: 20px;
}
ul.user-nav {
	display: inline;
}
ul.user-nav li {
	display: inline;
	list-style-type:none;
	margin:0;
	padding:0 0 0 15px;
}
pre {
	padding: 10px;
}
.server-error-elem {
	margin: 50px auto;
}