*.pyc
djpcms.egg-info/*
*.egg
dist/*
docs/build/*
MANIFEST
.project
.coverage
.pydevproject
.settings/*
examples/djpcms-site/runfab.py
examples/djpcms-site/sitedjpcms/settings.py
examples/djpcms-site/docs/*
