include CHANGELOG.rst
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
recursive-include docs *.txt
recursive-include djpcms/templates *
recursive-include djpcms/media *
recursive-include djpcms/contrib/admin/templates *
recursive-include djpcms/contrib/admin/media *
recursive-include djpcms/contrib/compressor/templates *
recursive-include djpcms/contrib/compressor/media *