include CHANGELOG.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include runtests.py
include requirements.txt
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
include examples/djpcms-site/README.rst
include examples/djpcms-site/requirements.txt
include examples/vinoweb/README.rst
include examples/vinoweb/requirements.txt
include djpcms/contrib/jdep/README.rst
include djpcms/contrib/jdep/tests/requirements.txt
recursive-include docs/source/_ext *
recursive-include docs/source *.txt
recursive-include tests/regression/media *
recursive-include tests/regression/template *
recursive-include djpcms/templates *
recursive-include djpcms/tests/templates *
recursive-include djpcms/media *
recursive-include djpcms/fixtures *
recursive-include djpcms/contrib/compressor/templates *
recursive-include djpcms/contrib/jdep/templates *
recursive-include djpcms/contrib/flowrepo/templates *
recursive-include djpcms/contrib/flowrepo/media *
recursive-include djpcms/contrib/social/templates *
recursive-include djpcms/contrib/social/media *
recursive-include examples *.py
recursive-include examples/djpcms-site/sitedjpcms/templates *
recursive-include examples/djpcms-site/sitedjpcms/media *
recursive-include examples/vinoweb/vinoweb/templates *
recursive-include examples/vinoweb/vinoweb/media *