include CHANGELOG.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include runtests.py
include requirements.txt
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
recursive-include docs/source/_ext *
recursive-include docs/source *.txt
recursive-include djpcms/templates *
recursive-include djpcms/tests/templates *
recursive-include djpcms/media *
recursive-include djpcms/tests/media *
recursive-include djpcms/fixtures *
recursive-include djpcms/contrib/admin/templates *
recursive-include djpcms/contrib/admin/media *
recursive-include djpcms/contrib/compressor/templates *
recursive-include examples *.py
recursive-include examples/djpcms-site/sitedjpcms/templates *
recursive-include examples/djpcms-site/sitedjpcms/media *
recursive-include examples/vinoweb/templates *
recursive-include examples/vinoweb/media *
include examples/djpcmstest/djpcmstest.sqlite