
#content {
	margin: 0;
}
.admin-dashboard .module table th {
    width:100%;
}
.object-tools-container {
	overflow: hidden;
	margin-bottom: 10px;
}
ul.object-tools {
	margin: 0;
}
#changelist-filter {
    margin:0;
    position:relative;
    width:auto;
    z-index:1000;
}
