/**	TABLE PLAIN
-----------------------------------------------------------*/
table.plain td,
table.plain th {padding: 3px 15px 3px 0; text-align: left;}
.djpcms-block td {padding: 2px 5px;}
.djpcms-block td.original, 
td.original {padding: 0;}
table.plain td.first {font-weight: bold;}

/*		BOX and CONTENT BLOCKS
-------------------------------------------------*/
div.djpcms-block-element,
div.edit-block {
	overflow: hidden;
	margin-bottom: 20px;
}
div.flat-element,
div.flat-pannel {
	padding: 10px;
}

.djpcms-text-content ul {
	margin-left: 1.5em;
	margin-bottom: 0.9em;
}
.djpcms-text-content ul li {
	margin-bottom: 0.5em;
}
.djpcms-text-content ul,
.djpcms-text-content ul li {
	list-style-position:outside;
	list-style-type: disc;
}

.grid_3 .djpcms-block-element .flat-element img.fullwidth,
.grid_3 .djpcms-block-element .djpcms-html-box .bd img.fullwidth {
	width: 200px;
}
.grid_3 .djpcms-block-element img.fullwidth {
	width: 220px;
}

ul.messagelist li {
    background:#FFFFCC url(../img/admin/icon_success.gif) no-repeat scroll 5px 0.3em;
    border-bottom:1px solid #DDDDDD;
    color:#666666;
    display:block;
    font-size:12px;
    margin:0 0 3px;
    padding:4px 5px 4px 25px;
}

/** UL.SIMPLE-NAV
-----------------------------------------------------------*/
ul.simple-nav li {
	display: inline;
}
ul.simple-nav.right {
	float: right;
}
ul.simple-nav.right li {
	margin-left: 10px;
}

/**  MENU AND ACCORDION MENU
-----------------------------------------------------------*/
ul.menu {
	list-style:none;
}
ul.menu li a {
	padding:4px 10px;
}
ul.menu li {text-transform: uppercase;}
ul.menu li ul li {text-transform: lowercase;}

ul.accordionmenu {
	filter:alpha(opacity=0);
  	opacity:0;
}
ul.accordionmenu .ui-icon {display: none;}
.ui-accordion .ui-accordion-content {
border-top:0 none;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}
ul.menu li.selected a {
	background: transparent url("jquery-ui-css/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x scroll 50% 50%;
}
ul.menu li.selected ul li a {background: rgb(255,255,255);}
ul.menu li.selected ul li.selected a {background: rgb(245,245,245);}

/** BREADCRUMBS
-----------------------------------------------------------*/
.breadcrumbs ul,
.breadcrumbs ul li {
	list-style: none;
	display:inline;
}


/** INLINE CONTENT EDITING
-----------------------------------------------------------*/
.edit-contentblock .djpcms-block-element {
	margin-bottom: 0;
}	
.edit-contentblock .hd {
	padding: 5px 10px;
	margin: 0;
}
.edit-contentblock {
	margin-bottom: 20px;
}
.edit-contentblock .hd textarea {
	width: 100%;
}
.edit-contentblock .actions  {
	padding:6px 12px;
	overflow:hidden;
	min-height:16px;
}
.edit form {height: 100%;}
.edit .writing {height: 100%;}
.edit .writing #id_body {
	font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	width: 100%;
	min-height: 98%;
	height: 98%;
}


/* uniForm classe
-------------------------------------------------------------*/

form tr {
	margin-bottom: 5px;
}
form .onecolumn input[type="text"] {
	width: 98%;
	padding: 2px 2px;
}
form .onecolumn textarea {
	padding: 2px 2px;
	width: 98%;
	height: 40px;
}
form .field-separator {
	height: 0.3em;
}
form .errorlist {
	margin: 0;
}
.aligned label {
    display: block;
    padding: 3px 10px 0 0;
    float: left;
    width: 8em;
}

/* GENERAL CLASSES FOR Tags 
-------------------------------------------------------------*/
.center-element {
	display:block;
	margin-left:auto;
	margin-right:auto; 
}

div.tag-cloud {
	letter-spacing:normal;
	line-height:1.6em;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	word-spacing:normal;
}

.djp-simple ul {
	list-style-type:none;
	list-style:disc outside;
	padding-left:20px;
	margin:0px;
	margin-bottom:0.3em;
}
.djp-simple ul li {
	margin-bottom: 0.5em;
}
.djp-simple ul li ul li {
	margin-bottom: 0.3em;
}

blockquote div.body-quote {
	margin-bottom: 0.7em;
}

/* CONTENT CLASSES
------------------------------------------------------------------*/
.djpcms-block {
	overflow: hidden;
}
div.djp-simple {
	margin-bottom: 30px;
}
.djp-simple img {
	margin: 20px 20px;
}

/* Comments */
div.djpcms-comment.djpcms-html-box {
	margin-top: 30px;
	border: none;
}
div.djpcms-comment.djpcms-html-box .bd {
	margin-top: 20px;
}
.djpcms-comment {
	float: left;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid rgb(180,180,180);
}
.djpcms-comment .head {
	width: 100%;
	margin-bottom: 10px;
}
.djpcms-comment .head span {
	color: rgb(120,120,120);
}

/* IMAGE PLUGIN WIDTH
-------------------------------------------------------------------------*/
.container_12 .grid_3 .image-plugin {width: 220px;}
.container_12 .grid_4 .image-plugin {width: 300px;}
.container_12 .grid_6 .image-plugin {width: 460px;}
.container_12 .grid_3 .flat-element .image-plugin {
	width: 200px;
}


/* PAGINATION
---------------------------------------------------------------------------*/
.jquery-pagination {
	overflow: hidden;
	font-size: 80%;
	margin-bottom: 10px;
	height: 40px;
}
        
.jquery-pagination a {
    text-decoration: none;
    border: solid 1px #AAE;
    color: #15B;
}

.jquery-pagination a, .jquery-pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.jquery-pagination .current {
    background: #26B;
    color: #fff;
    border: solid 1px #AAE;
}

.jquery-pagination .current.prev, .jquery-pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}

input.openid {
    background: url(img/icons/openid-icon.png) no-repeat 0 50%;
    background-color:#FFFFFF;
    padding:0.2em;
    padding-left:1.5em;
    border:1px solid #B7C6CE;
}

/* SEARCH FORM
------------------------------------------------------------*/
.sw_b {
    background: #ffffff;
    border:1px solid #ACBABD;
    margin:0;
    padding:0;
    overflow:hidden;
    padding: 2px;
    height:24px;
}
.sw_b input.sw_qbox {
	border:0 none;
    color:#333333;
    float:left;
    font-size:14px;
    height:20px;
    line-height:20px;
    height: 20px;
    padding: 2px 5px;
}
.sw_b input.sw_qbtn {
    background:#F9761D url("img/icons/search.png") no-repeat;
    border: 0 none;
    cursor:pointer;
    height:24px;
    overflow:hidden;
    padding:24px 0 0;
    width:24px;   
}
.container_12 .grid_4 input.sw_qbox {
	width: 260px;
}

/* Autocomplete
-------------------------------------------------------*/
.djp-autocomplete {
	overflow: hidden;
	/*float: left;*/
}
.djp-autocomplete input.multi {
	clear: both;
}
.djp-autocomplete div.selected {
	float: left;
	width: 98%;
}
.djp-autocomplete a.deletable {
	float: left;
	cursor:pointer;
	padding-left:14px;
	background: url("img/icons/cross.png") no-repeat;
}
	
.djp-autocomplete div.to_delete {
	margin-top: 3px;
	overflow: hidden;
}

/* BOX class djpcms-html-box
------------------------------------------------*/
.djpcms-html-box {
    padding: 2px;
}

.djpcms-html-box .hd {
	padding:6px 12px;
	margin: 0;
	border: none;
	min-height: 8px;
	overflow:hidden;
}
.djpcms-html-box .hd h2 {
	float: left;
	margin:0;
	padding:0;
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
}
.djpcms-html-box .bd,
.djpcms-html-box .ft {
	padding: 5px 5px;
	overflow: hidden;
}
.djpcms-html-box.collapsed .bd {
	display: none;
}

.djpcms-html-box.edit-block .hd {
	cursor: move;
}
.djpcms-html-box.edit-block .ft {
	margin-top: 2px;
} 

/* Actions menu
--------------------------------------------------------- */
div.edit-menu {
	float: right;
}
div.edit-menu.left {
	float: left;
}
div.edit-menu a {
	display:inline;
	float:left;
	border:none;
	margin:0 0 0 3px;
	text-indent:-9999em;
	padding:0;
	height:14px;
	width:14px;
}
a.collapse {
	background:transparent url(img/buttons.gif) no-repeat scroll -52px 0;
}
.collapsed a.collapse {
	background:transparent url(img/buttons.gif) no-repeat scroll -38px 0;
}
a.editable {
	background:transparent url("img/icons/pencil.png") no-repeat;
}
a.deletable {
	background:transparent url("img/icons/cross.png") no-repeat;
}

/*  Edit Page
---------------------------------------------------------------*/
.edit-page {
	padding: 0;
}
.edit-page .formColumn {
	display: inline;
	float: left;
	width: 50%;
}