/*
-----------------------------------------------
Navigation
----------------------------------------------- */
 
/* navigation (horizontal subnavigation)
----------------------------------------------- */
ul.nav,
ul.nav * { margin:0;padding:0;}
ul.nav {
	position:relative;
	max-width:100%;
}
ul.nav li {
    cursor:pointer;
    float:left;
    text-align:center;
    list-style-type:none;
    font-weight:normal;
}
ul.nav li ul {
	cursor:default;
	width:100%;
	max-width:100%;
	position:absolute;
	height:auto;
	background-position:0 0 !important;
	left:-9000px;
}
ul.nav li ul li {
	padding:0;
	border:none;
	width:auto;
	max-width:none;
}
ul.nav li a {
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 1em;
}
ul.nav li ul li a {
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	font-weight:normal;
	background-position:0 50% !important;
}
ul.nav li:hover ul {left:0;z-index:10} 
ul.nav li.current a {cursor:default; font-weight:bold;}
ul.nav li.current ul {left:0;z-index:5}
ul.nav li.current ul li a {font-weight:normal;}

/* Size of navigation */
ul.nav,
ul.nav li a {height: 2.5em;}
ul.nav li,
ul.nav li a {line-height:2.5em;}
ul.nav li ul {top:2.5em;}
ul.nav li ul li a {line-height:2em;	height:2em;}

/* navigation (vertical subnavigation)
----------------------------------------------- */
ul.main li {
  position:relative;
  top:0;
  left:0;
}
ul.main li ul {
  border-top:0;
}
ul.main li ul li {
  float:left;
}
ul.main li a {
height:2.5em;
line-height:2.5em;
border:0;
}
ul.main li ul li a {
  width:12em;
  line-height:2em;
  height:2em;
  text-align:left;
} 
/* secondary list
----------------------------------------------- */
ul.nav li.secondary {
	float:right;
	background:transparent !important;
}
ul.nav li.secondary span.status {
	float:left;
	padding:0 1em;
	line-height:2.77em;
	height:2.77em;
	font-size:0.9em;
}
ul.nav li.secondary span.status a {
	float:none;
	display:inline;
	padding:0;
	height:auto;
	line-height:auto;
	background:transparent;
}
