<table{{ html.flatatt }}>
 <tbody>{% for field in html %}{% if not field.is_hidden %}
  <tr><td align="left">{{ field.label_tag }}</td></tr>
  <tr><td align="left"><div id = "{{ field.errorid }}" class="{{ html.ajax.errorlist }}"></div></td></tr>{% if field.field.help_text %}
  <tr><td align="left"><div class="help-text">{{ field.field.help_text }}</div></td></tr>{% endif %}{% endif %}
  <tr><td align="left">{{ field.field }}</td></tr>
  <tr><td class="field-separator"></td></tr>{% endfor %}{% block extra_formlet_fields %}{% endblock %}
  {% for sb in html.submits %}<tr>
  	<td align="right">
		{{ sb.render }}
	</td>
  </tr>{% endfor %}{% block after_submit_formlet %}{% endblock %}
 </tbody>
</table>