<table>
 <tbody>{% for field in html %}
  <tr>
  	<td align="left"> {{field.label_tag }}</td>
  	<td align="left">{{ field.field }}</td>
  	<td align="left">{% ifequal field.position html|length %}
  	{% for sb in html.children %}{{ sb }}{% endfor %}
  	{% endif %}</td>
  </tr>{% if field.field.help_text %}
  <tr>
  	<td></td>
  	<td align="left" colspan="2">
  	  <div class="help-text">
  		{{ field.field.help_text }}
  	  </div>
  	</td>
  </tr>{% endif %}
  <tr>
  	<td align="left"></td>
  	<td colspan="2">
  	  <div id = "{{ field.errorid }}" class="{{ HTML_CLASSES.errorlist }}"></div>
  	</td>
  </tr>{% endfor %}{% block extra_formlet_fields %}{% endblock %}
  <tr>
  	<td></td>
  	<td align="left"></td>
  </tr>
  <tr>
  	<td></td>
  	<td align="left">{% for sb in html.childrens %}
  	  {{ sb }}{% endfor %}
	</td>
  </tr>{% block after_submit_formlet %}{% endblock %}
 </tbody>
</table>