{% extends "djpcms/base.html" %}{% load djpcmstags %}

{% block pre-banner %}
<div id="banner-top">
 <div class="{{ grid.container_class }}">
  <div class="{{ grid.column1 }}">
   {% include "djpcms/bits/usernav.html" %}
  </div>
  {{ grid.clear }}
 </div>
</div>{% endblock %}

{% block branding-banner %}
<div class="{{ grid.container_class }}">
 <div class="{{ grid.column1 }}">
  {% include "logo.html" %}
 </div>
{{ grid.clear }}
</div>
{% endblock %}

{% block post-banner %}
<div class="nav-container {{ grid.container_class }}">
 <div class="{{ grid.column1 }}">
  {{ sitenav.render }}
 </div>
 {{ grid.clear }}
</div>{% endblock %}

{% block site-content-class %} class="{{ grid.container_class }}"{% endblock %}

{% block page-footer %}
 <div class="{{ grid.container_class }}">
  <div id="copyright" class="{{ grid.column1 }}">
   <p>Copyright &copy; 2010 Citigroup</p>
   <p><a href="/" title="Siro home">SIRO</a> - Scenario analysis for Interest Rate Options</p>
  </div>
  {{ grid.clear }}
  <div class="{{ grid.column_1_3 }}">
  <ul>
  <li><a href="/docs/changelog/" title="Changelog">Changelog</a></li>
  <li><a href="/docs/developers/" title="For Developers">Development</a></li>
  </ul>
  </div>
  <div class="{{ grid.column_1_3 }}">
  {{ grid.empty }}
  </div>
  <div class="{{ grid.column_1_3 }}">
  {{ grid.empty }}
  </div>
 </div>
{% endblock %}
