{% extends "djpcms/base.html" %}

{% block branding-banner %}
  <div class="{{ grid.container_class }}">
   <div class="{{ grid.column_1_3 }}">
    <h1 id="branding-name">
	<a href="/">DJPCMS TESTS</a>
	</h1>
   </div>
   <div class="{{ grid.column_2_3 }}">
   <ul class="simple-nav right user">{% if edit_content_url %}
    <li class="secondary"><a href="{{ edit_content_url }}">edit</a></li>{% else %}{% if exit_edit_url %}
    <li class="secondary"><a href="{{ exit_edit_url }}">exit</a></li>{% endif %}{% endif %}{% if user.is_staff %}
    <li class="secondary"><a href="{{ site_admin_url }}">admin</a></li>{% endif %}
   </ul>
   </div>
   {{ grid.clear }}
  </div>
  <div class="{{ grid.container_class }}">
   <div class="{{ grid.column1 }} nav-container">
   {% include "djpcms/bits/navigation1.html" %}
   </div>
   </div>
{% endblock %}
