{% extends "djpcms/base.html" %}{% load djpcmstags %}

{% block pre-body %}{{ block.super }}
<div id="top-header">
  <div class="{{ grid.container_class }}">
   <div class="{{ grid.column1 }}">
    <a id="site-logo" href="/" title="home">
    <img src="{{ MEDIA_URL }}site/djpcms.png" alt="djpcms"/>
    </a>
    {% include "usernav.html" %}
   </div>
  </div>
  {{ grid.clear }}
 </div>
{% endblock %}

{% block branding-banner %}
 <div id="branding" class="{{ grid.container_class }}">
    <div class="{{ grid.column_1_3 }}"  class="nav-container">
    {{ sitenav.render }}
    </div>
    <div class="{{ grid.column_2_3 }}">
      <div id="brandline">{% block brandline %}
        Dynamic Content Management System {% endblock %}
      </div>
    </div>
    {{ grid.clear }}
 </div>
{% endblock %}

{% block page-footer %}
 <div class="{{ grid.container_class }}">
  <div class="{{ grid.column_1_3 }}">
  Copyright &copy; 2009-{{ now.year }} Luca Sbardella
   <br{{ htmldoc.slash }}>
   <a target="_blank" rel="license" title="Licensed under a Creative Commons Attributes license" href="http://creativecommons.org/licenses/by/2.0/uk/">Some right reserved</a>
  </div>
  <div class="{{ grid.column_1_3 }}">
  {{ grid.empty }}
  </div>
  <div class="{{ grid.column_1_3 }}">
  <a class="logo" target="_blank" id="logo_github" href="http://github.com/lsbardel/djpcms">github</a>
  </div>
 </div>
{% endblock %}

