{% extends "djpcms/root.html" %}
{% block title %}djpcms - {% block extra-title %}dynamic CMS for django and jQuery{% endblock %}{% endblock %}
{% block site-keywords %}cms, django, jquery, javascript, python, css{% endblock %}
{% block site-description %}djpcms documentation site{% endblock %}
{% block style-reset %}{% include "djpcms/bits/reset.html" %}{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/text.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/color.css"/>{% endblock %}

