{% extends "home.html" %}{% load gridwrap %}

{% block content-table %}
<table class="main-table">
<tbody>
<tr class="twocolumns-left {% block twocolumns-type %}l250{% endblock %}">
  <td valign="top" class="first">{% block content10 %}{% for c in content10 %}
  {{ c.render_as_widget }}{% endfor %}{% endblock %}
  </td>
  <td valign="top" class="spacingb"></td>
  <td valign="top" class="second">{% block content11 %}{% for c in content11 %}
  {{ c.render_as_widget }}{% endfor %}{% endblock %}
  </td>
</tr>
</tbody>
</table>
{% endblock %}