{% extends "base.html" %}{% load i18n djpmodutils %}
{% block analytics-scripts %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block blockkeywords %}{% endblock %}
{% block blockdescriptions %}{% endblock %}
{% block style-reset %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />{% endblock %}
{% block bodybits %}class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"{% endblock %}
{% block body-container-id %} id="container" {% endblock %}

{% block site-content-class %}{% endblock %}
{% block page-body %}{% if messages %}
  <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>{% endif %}
  <div id="content" class="{% block coltype %}colM{% endblock %}">
  {% block pretitle %}{% endblock %}
  {% block content %}
  {% block object-tools %}{% endblock %}
  {{ content }}
  {% endblock %}
  {% block sidebar %}{% endblock %}
  </div>
{% endblock %}