/* tables */
table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #666;
	border: 1px solid #DCDCDC;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr {
	border: 1px solid #DCDCDC;
	border-top: none;
	border-bottom: none;
}
table.tablesorter tbody tr:last-child {
	border-bottom: 1px solid #DCDCDC;
}
table.tablesorter thead tr.aggregate th.header {
	cursor: default;
}
table.tablesorter tbody td {
	background: #555;
	padding: 4px;
	color: #fff;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background:#666;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

