.djpcms-block-element.edit-page {
	background: #000;
	border: 2px solid #9E9E9E;
	color: #fff;
}
.djpcms-block-element.edit-page .uniForm .formHint {
	color: #fff;
}
.djpcms-html-box.edit-block {
	background: #9E9E9E;
}
.djpcms-html-box.edit-block .bd {
	background: #4D4D4D;
}
.djpcms-html-box.edit-block .ft {
	background: #333;
}


/* boxes
----------------------------------------------- */
.djpcms-html-box,
.djpcms-html-box .bd,
.djpcms-html-box .hd,
.djpcms-html-box .ft,
div.flat-pannel {
    background:#333;
    color: #fff;
}

/* Edit Menu
--------------------------------------*/
a.deletable {
	background: url("../img/buttons.gif") no-repeat scroll -24px 0 transparent
}

.uniForm textarea:focus {
	-moz-box-shadow:0 1px #FFFFFF;
	border-color: rbga(82, 168, 236, 0.75) !important;
}