
/* boxes
----------------------------------------------- */
.djpcms-html-box {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.djpcms-html-box .bd {
	-moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
}
.djpcms-html-box {
    background:#E0E0E0;
}
.djpcms-html-box .hd h2 {
    color: #3C3C3C;
}
.djpcms-html-box .bd {
	background: #FAFAFA;
}

/* uniForm Inputs
----------------------------------------------*/
.uniForm .textInput, .uniForm select, .uniForm textarea {
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #DFDFDF;
}