{% if field.is_hidden %}
    {{ field }}
{% else %}{% load uni_form_field %}
<div class="ctrlHolder{% if field.error %} error{% endif %}{% if field.field.required %} {{ required }}{% endif %}">
	<div id="{{ field.auto_id }}-errors">
       {{ field.errors }}
    </div>{% if field|is_checkbox %}
    <label for="{{ field.auto_id }}">
     {{ field|with_class }}{% if label %}
      {{ label }}{% endif %}
    </label>{% else %}{% if label %}
    <label for="{{ field.auto_id }}">
      {{ label }}
    </label>{% endif %}
      {{ field|with_class }}{% if field.help_text %}
    <p id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text|safe }}</p>{% endif %}{% endif %}
</div>
{% endif %}