{% extends "base.html" %}{% load i18n djpmodutils %}
{% block analytics-scripts %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block blockkeywords %}{% endblock %}
{% block blockdescriptions %}{% endblock %}
{% block style-reset %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/base.css" />{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}djpcms/admin.css" />
{{ block.super }}{% endblock %}

{% block bodybits %}class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"{% endblock %}
{% block body-container-id %} id="container" {% endblock %}

{% block page-body %}
  {% block pretitle %}{% endblock %}
  {% block content %}
  {% block object-tools %}{% endblock %}
  {{ content }}
  {% endblock %}
  {% block sidebar %}{% endblock %}
{% endblock %}