{% extends "admin/base_site.html" %}{% load admin_list i18n %}

{% block style-reset %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/changelists.css" />{% endblock %}

{% block breadcrumbs %}
<a href="../../">{% trans "Administration" %}</a> &rsaquo;
<a href="../">{{ app_label|capfirst }}</a> &rsaquo; 
{{ cl.opts.verbose_name_plural|capfirst }}{% endblock %}

{% block body-extra-scripts %}{% if action_form %}{% if actions_on_top or actions_on_bottom %}
   $("tr input.action-select").actions();{% endif %}{% endif %}{% endblock %}

{% block content %}{% block object-tools %}{% if has_add_permission %}
     <div class="{{ grid.column1 }} object-tools-container">
        <ul class="object-tools">
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
          </li>
        </ul>
     </div>
     {{ grid.clear }}{% endif %}{% endblock %}{% if cl.formset.errors %}
     <div class="{{ grid.column1 }}">
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
     </div>
    {{ grid.clear }}{% endif %}{% if cl.has_filters %}
      <div class="{{ grid.column_3_4 }}">{% else %}<div class="{{ grid.column1 }}">{% endif %}
       <div id="changelist">
        <div id="toolbar">
        {% block search %}{% search_form cl %}{% endblock %}
        </div>
        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
        <form action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% if cl.formset %}
         {{ cl.formset.management_form }}
        {% endif %}

        {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
       </div>
      </div>
      
      {% if cl.has_filters %}
      <div class="{{ grid.column_1_4 }}">{% block filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>{% endblock %}
      </div>{% endif %}
      {{ grid.clear }}
{% endblock %}
