{# BATTERY INCLUDED TEMPLATE FOR QUICK DEVELOPMENT #}
{# YOU NEED TO DEFINE YOUR root.html TEMPLATE TO USE THIS #}
{% extends "root.html" %}{% load djpcmstags %}

{% block html-container %}{% if not is_popup %}
<div id="page-header">{% block pre-banner %}{% endblock %} 
 <div id="branding-banner">{% block branding-banner %}{% endblock %}
 </div>{% block post-banner %}{% endblock %}
</div>{% endif %}

<div id="page-body">
 <div id="site-content"{% block site-content-class %} class="{{ grid.container_class }}"{% endblock %}>{% block page-prebody %}
   <div id="bread-crumbs" class="{{ grid.column1 }}">{% block breadcrumbs %}{% if page.level %}
    {% include "djpcms/bits/breadcrumbs.html" %}{% else %}
    {{ djp.title }}{% endif %}{% endblock %}
   </div>
   {{ grid.clear }}{% endblock %}
   {% block django-messages %}
    <div id="page-messages" class="{{ grid.column1 }}">{% if messages %}
     <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>{% endif %}
    </div>
   {{ grid.clear }}{% endblock %}
   <div id="content"{% block contentbits %}{% endblock %}>{% if page_url %}{% block edit-page %}
   {% include "djpcms/content/edit_page.html" %}{% endblock %}{% endif %}{% block page-body %}
   {{ inner }}{% endblock %}
   </div>
   {% block page-postbody %}{% endblock %}
 </div>
</div>

<div id="page-footer">{% block page-footer %}{% endblock %}
</div>{% endblock %}






