{% extends "root.html" %}

{% block html-container %}
<div id="branding-banner" class="full-width">{% block page-branding %}{% endblock %}
</div>

<div id="site-navigation-banner" class="full-width">{% block site-navigation %}{% endblock %}
</div>
{% block post-site-navigation-banner %}{% endblock %}

<div id="main-body" class="full-width">
{% block page-prebody %}{% endblock %}
{% block page-body %}{% endblock %}
{% block page-postbody %}{% endblock %}
</div>

<div id="footer" class="full-width">{% block page-footer %}{% endblock %}
</div>
{% endblock %}