html {
	background: #94BA65;
}
#site-content {
	background: #94BA65;
}
#top-header {
	background: #353432;
}
#brandline {
    color: #4E4D4A;
}
p.rubric {
	color:#487858;
}
.site-logo {
	color: #BED661;
	color: #000033;
}
h1 {
	color:#092E20;
}
h2 {
	color:#092E20;
}
h2.deck {
	color:#487858;
}
/*
.user-box a, a.link {
	color: #D9FFCC;
}
.user-box a:hover {
	color: #D2FF4D;
}
*/
a:link, a:visited {
	color: #2B4E72;
}
a:hover {
	color: #2790B0;
}
a.headerlink {
	color: #ffffff;
}
a.headerlink:hover {
	color: #3F3C29;
}
#top-header a {
	color: #fff;
}
.nav-container {
	background: #000;
}
#page-footer {
 	background: #333333;
 	color: rgb(240,240,240);
}
pre {
	background: #4E4D4A;
	color: #fff;
}
#page-footer a:link,
#page-footer a:visited {
	color: #2790B0;
}
#page-footer a:hover {
	color: #fff;
}

.djpcms-html-box {
	background: #4E4D4A;
}
.djpcms-html-box .hd h2 {
	color:#fff;
}
div.flat-pannel {
	border: 2px solid #4E4D4A;
}
.signin-button-twitter {
	background:url("img/signin_twitter.png") no-repeat;
	float:left;
	height:22px;
	margin-right:5px;
	overflow:hidden;
	text-indent:-9999px;
	width:150px;
}
.signin-button-twitter:hover {
	background:url("img/signin_twitter.png") no-repeat 0 -24px;
}
#error-404 {
	background: url("img/404-Error-21.jpg") no-repeat center;
	height: 353px;
}
#error-500 {
	background: url("img/500.jpeg") no-repeat center;
	height: 165px;
}