#page-header {
	background: transparent url(img/header2.gif) repeat-x scroll 0 0;
    height:328px;
}
.site-logo {
    padding: 0 30px;
}
#navigation {
background:transparent url(images/brd.gif) no-repeat scroll 0 8px;
display:inline;
float:left;
height:44px;
margin-left:270px;
padding-left:8px;
padding-top:14px;
}
#brandline {
    padding: 30px 10px;   
}
#tagline {
	background:transparent url(img/bg.gif) repeat-x;
	height:82px;
}
#page-main {
	min-height: 500px;
}
#footer {
    background: transparent url(img/ftr.gif) repeat-x;
    color:#FFFFFF;
    height:53px;
}
#navigation li a:hover {
    background:transparent url(img/hover.gif) repeat-x;
    text-decoration:none;
}

a, a.link {
	text-decoration: none;
}
h1 {
	margin-bottom:0.6em;
}
h2 {
	margin-bottom:0.6em;
}
#main-body {
	min-height: 600px;
	margin-top: 20px;
	margin-bottom: 40px;
	overflow: hidden;
}
#documentation h2, #documentation h3, #documentation h4 {
	margin-top:1.4em;
}
#tag-line {
	padding: 0 20px;
}
p {
	line-height: 1.2em;
	margin-bottom: 0.6em;
}
.section {
	margin-top: 20px;
}
h2.deck {
	margin-top: 0;
	margin-bottom:0.6em;
}
.user-box {
	float: right;
	height: 60px;
	line-height: 60px;
}
li.toctree-l2 {
	margin-left: 20px;
}
ul.user-nav {
	display: inline;
}
ul.user-nav li {
	display: inline;
	list-style-type:none;
	margin:0;
	padding:0 0 0 15px;
}

