body {
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4em;
}
#brandline {
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	font-style: italic;
	font-size: 150%;
}
#tag-line {
	font-size: 20px;
	line-height: 50px;
	font-style: italic;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}
#bread-crumbs {
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:140%;
	font-style:italic;
}
p.rubric {
	font-size:150%;
	font-weight:normal;
}
.site-logo {
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: bold;
	font-size: 30px;
}
#page-footer {
	font-size: 90%;
}
.signin-button-twitter {
	margin-top: 9px;
}
h1 {
	font-size:218%;
	line-height:1.1em;
}
h2 {
	font-size:150%;
	line-height:1.1em;
}
h2.deck {
	font-weight: normal;
}

strong {
	font-weight: bold;
}
